#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.traffic-light-container{
  display: flex;
  max-width: 18%;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 8px;
  background-color: black;
  flex-direction: column;
}

.traffic-light{
  --size: 50px;
  border-radius: var(--size);
  height: var(--size);
  width: var(--size);
  background-color: gray;
}

