#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.square {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.black{
  background-color: black;
}

.white{
  background-color: white;
}

.chessboard {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.dark-blue {
  background-color: darkblue;
}

.light-blue{
  background-color: lightblue;
}