.todo-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin: 20px auto;
  text-align: center;
}

.todo-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.todo-container input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.todo-container button {
  padding: 10px 15px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: none;
  cursor: pointer;
}

.todo-container ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 0;
}

.todo-container li {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
